<div class="jumbotron text-center">
    <h1>Currency and Number Formatter</h1><br />
</div>
<div class="row" style="height:250px;">
    <div class="col-md-6 col-sm-6" style="height:100%; border-right:2px solid #000;">
        <h3>Currency Formatter</h3>
        <input type="text" class="txt_style" ng-model="name" capitalize="number"  />
    </div>
    <div class="col-md-6 col-sm-6" style="height:100%;">
        <h3>Number Formatter</h3>
        <input type="text" class="txt_style" phone-input ng-model="phoneVal" />
    </div>
</div>